<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controle.cliente.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controle.cliente.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirClienteServlet</servlet-name>
        <servlet-class>controle.cliente.IncluirClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerClienteServlet</servlet-name>
        <servlet-class>controle.cliente.VerClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObterClienteServlet</servlet-name>
        <servlet-class>controle.cliente.ObterClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClienteServlet</servlet-name>
        <servlet-class>controle.cliente.ListarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarClienteServlet</servlet-name>
        <servlet-class>controle.cliente.AlterarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirClienteServlet</servlet-name>
        <servlet-class>controle.cliente.ExcluirClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarEstabelecimentoServlet</servlet-name>
        <servlet-class>controle.estabelecimento.AlterarEstabelecimentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirEstabelecimentoServlet</servlet-name>
        <servlet-class>controle.estabelecimento.ExcluirEstabelecimentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirEstabelecimentoServlet</servlet-name>
        <servlet-class>controle.estabelecimento.IncluirEstabelecimentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEstabelecimentoServlet</servlet-name>
        <servlet-class>controle.estabelecimento.ListarEstabelecimentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoEstabelecimentoServlet</servlet-name>
        <servlet-class>controle.estabelecimento.NovoEstabelecimentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObterEstabelecimentoServlet</servlet-name>
        <servlet-class>controle.estabelecimento.ObterEstabelecimentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerEstabelecimentoServlet</servlet-name>
        <servlet-class>controle.estabelecimento.VerEstabelecimentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginEstabelecimentoServlet</servlet-name>
        <servlet-class>controle.estabelecimento.LoginEstabelecimentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutEstabelecimentoServlet</servlet-name>
        <servlet-class>controle.estabelecimento.LogoutEstabelecimentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.AlterarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProdutoServlet</servlet-name>
        <servlet-class>controle.produto.ExcluirProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirProdutoServlet</servlet-name>
        <servlet-class>controle.produto.IncluirProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <servlet-class>controle.produto.ListarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoProdutoServlet</servlet-name>
        <servlet-class>controle.produto.NovoProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObterProdutoServlet</servlet-name>
        <servlet-class>controle.produto.ObterProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerProdutoServlet</servlet-name>
        <servlet-class>controle.produto.VerProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.AlterarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.ExcluirCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.IncluirCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.ListarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.NovoCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObterCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.ObterCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerCategoriaServlet</servlet-name>
        <servlet-class>controle.categoria.VerCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPedidoServlet</servlet-name>
        <servlet-class>controle.pedido.AlterarPedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPedidoServlet</servlet-name>
        <servlet-class>controle.pedido.ExcluirPedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirPedidoServlet</servlet-name>
        <servlet-class>controle.pedido.IncluirPedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPedidoServlet</servlet-name>
        <servlet-class>controle.pedido.ListarPedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoPedidoServlet</servlet-name>
        <servlet-class>controle.pedido.NovoPedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObterPedidoServlet</servlet-name>
        <servlet-class>controle.pedido.ObterPedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPedidoServlet</servlet-name>
        <servlet-class>controle.pedido.VerPedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPedido_produtoServlet</servlet-name>
        <servlet-class>controle.pedido_produto.AlterarPedido_produtoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPedido_produtoServlet</servlet-name>
        <servlet-class>controle.pedido_produto.ExcluirPedido_produtoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncluirPedido_produtoServlet</servlet-name>
        <servlet-class>controle.pedido_produto.IncluirPedido_produtoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPedido_produtoServlet</servlet-name>
        <servlet-class>controle.pedido_produto.ListarPedido_produtoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoPedido_produtoServlet</servlet-name>
        <servlet-class>controle.pedido_produto.NovoPedido_produtoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObterPedido_produtoServlet</servlet-name>
        <servlet-class>controle.pedido_produto.ObterPedido_produtoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPedido_produtoServlet</servlet-name>
        <servlet-class>controle.pedido_produto.VerPedido_produtoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>controle.inicio.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarProdutoCarrinhoServlet</servlet-name>
        <servlet-class>controle.carrinho.AdicionarProdutoCarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverProdutoCarrinhoServlet</servlet-name>
        <servlet-class>controle.carrinho.RemoverProdutoCarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessarPedidoServlet</servlet-name>
        <servlet-class>controle.pedido.ProcessarPedidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarImagemProdutoServlet</servlet-name>
        <servlet-class>controle.produto.MostrarImagemProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarProdutoCarrinhoServlet</servlet-name>
        <servlet-class>controle.carrinho.MostrarProdutoCarrinhoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirClienteServlet</servlet-name>
        <url-pattern>/IncluirClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerClienteServlet</servlet-name>
        <url-pattern>/VerClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObterClienteServlet</servlet-name>
        <url-pattern>/ObterClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClienteServlet</servlet-name>
        <url-pattern>/ListarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarClienteServlet</servlet-name>
        <url-pattern>/AlterarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirClienteServlet</servlet-name>
        <url-pattern>/ExcluirClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarEstabelecimentoServlet</servlet-name>
        <url-pattern>/AlterarEstabelecimentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirEstabelecimentoServlet</servlet-name>
        <url-pattern>/ExcluirEstabelecimentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirEstabelecimentoServlet</servlet-name>
        <url-pattern>/IncluirEstabelecimentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEstabelecimentoServlet</servlet-name>
        <url-pattern>/ListarEstabelecimentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoEstabelecimentoServlet</servlet-name>
        <url-pattern>/NovoEstabelecimentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObterEstabelecimentoServlet</servlet-name>
        <url-pattern>/ObterEstabelecimentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerEstabelecimentoServlet</servlet-name>
        <url-pattern>/VerEstabelecimentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEstabelecimentoServlet</servlet-name>
        <url-pattern>/LoginEstabelecimentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutEstabelecimentoServlet</servlet-name>
        <url-pattern>/LogoutEstabelecimentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProdutoServlet</servlet-name>
        <url-pattern>/AlterarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProdutoServlet</servlet-name>
        <url-pattern>/ExcluirProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirProdutoServlet</servlet-name>
        <url-pattern>/IncluirProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <url-pattern>/ListarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoProdutoServlet</servlet-name>
        <url-pattern>/NovoProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObterProdutoServlet</servlet-name>
        <url-pattern>/ObterProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerProdutoServlet</servlet-name>
        <url-pattern>/VerProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCategoriaServlet</servlet-name>
        <url-pattern>/AlterarCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCategoriaServlet</servlet-name>
        <url-pattern>/ExcluirCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirCategoriaServlet</servlet-name>
        <url-pattern>/IncluirCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCategoriaServlet</servlet-name>
        <url-pattern>/ListarCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoCategoriaServlet</servlet-name>
        <url-pattern>/NovoCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObterCategoriaServlet</servlet-name>
        <url-pattern>/ObterCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerCategoriaServlet</servlet-name>
        <url-pattern>/VerCategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPedidoServlet</servlet-name>
        <url-pattern>/AlterarPedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPedidoServlet</servlet-name>
        <url-pattern>/ExcluirPedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirPedidoServlet</servlet-name>
        <url-pattern>/IncluirPedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPedidoServlet</servlet-name>
        <url-pattern>/ListarPedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoPedidoServlet</servlet-name>
        <url-pattern>/NovoPedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObterPedidoServlet</servlet-name>
        <url-pattern>/ObterPedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPedidoServlet</servlet-name>
        <url-pattern>/VerPedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPedido_produtoServlet</servlet-name>
        <url-pattern>/AlterarPedido_produtoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPedido_produtoServlet</servlet-name>
        <url-pattern>/ExcluirPedido_produtoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncluirPedido_produtoServlet</servlet-name>
        <url-pattern>/IncluirPedido_produtoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPedido_produtoServlet</servlet-name>
        <url-pattern>/ListarPedido_produtoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoPedido_produtoServlet</servlet-name>
        <url-pattern>/NovoPedido_produtoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObterPedido_produtoServlet</servlet-name>
        <url-pattern>/ObterPedido_produtoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPedido_produtoServlet</servlet-name>
        <url-pattern>/VerPedido_produtoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/InicioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarProdutoCarrinhoServlet</servlet-name>
        <url-pattern>/AdicionarProdutoCarrinhoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverProdutoCarrinhoServlet</servlet-name>
        <url-pattern>/RemoverProdutoCarrinhoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessarPedidoServlet</servlet-name>
        <url-pattern>/ProcessarPedidoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarImagemProdutoServlet</servlet-name>
        <url-pattern>/MostrarImagemProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarProdutoCarrinhoServlet</servlet-name>
        <url-pattern>/MostrarProdutoCarrinhoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>InicioServlet</welcome-file>
    </welcome-file-list>
</web-app>
